<table id="appointments">
  <tr>
    {{!-- <th>Appointment ID
    </th> --}}
    <th>Appointment Description
    </th>
    <th>Appointment Time
    </th>
    <th>Phone Number
    </th>
    <th>Reminder Message
    </th>
  </tr>
{{#each appointments as |appointment|}}
<tr data-id="{{appointment.id}}">
  {{!-- <td id="appt-id">{{appointment.id}}</td> --}}
  <td id="appt-name">{{appointment.name}}</td>
  <td id="appt-time">{{appointment.time}}</td>
  <td id="appt-num">{{appointment.phone_number}}</td>
  <td id="appt-reminder">{{appointment.reminder}}</td>
  <td>
    <button data-id="{{appointment.id}}" class="inline-edit btn btn-warning" value="edit">Edit</button>
    <button data-id="{{appointment.id}}" class="inline-delete btn btn-danger" value="delete">Delete</button>
    </td>
</tr>
{{/each}}
</table>
