<table>
  <tr>
    <th>Appointment ID
    </th>
    <th>Appointment Name
    </th>
    <th>Appointment Time
    </th>
    <th>Phone Number
    </th>
    <th>Reminder
    </th>
  </tr>
{{#each appointments as |appointment|}}
<tr data-id="{{appointment.id}}">
  <td id="appt-id">{{appointment.id}}</td>
  <td id="appt-name">{{appointment.name}}</td>
  <td id="appt-time">{{appointment.time}}</td>
  <td id="appt-num">{{appointment.phone_number}}</td>
  <td id="appt-reminder">{{appointment.reminder}}
    {{!-- <button data-id="{{appointment.id}}" id="inline-edit" value="edit">Edit</button>
    <button data-id="{{appointment.id}}" class="inline-delete" value="delete">Delete</button>
</tr> --}}
{{/each}}
</table>
